*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#contenuto{
    width: 700px;
    min-height: 10px;
    border: 1px solid black;
    color: blue;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 12fr;
}
aside{
    grid-row: 1/-1;
    border:1px solid red;
}
article{
    grid-row: 1/-1;
    border:1px solid purple;
}